node_modules
# Keep environment variables out of version control
.env

/generated/prisma

/node_modules
package-lock.json


// This is your Prisma schema file,
// learn more about it in the docs: https://pris.ly/d/prisma-schema

generator client {
  provider = "prisma-client"
  output   = "../generated/prisma"
}

datasource db {
  provider = "sqlite"
  url      = env("DATABASE_URL")
}



}


model Company {
  id          Int      @id @default(autoincrement())
  name        String
  address     String
  cnpj        String
  foundation  DateTime
  places      String
  fundaments  String
  methods     String

  courses     Course[]   // relação 1:N (uma empresa tem vários cursos)

  createdAt DataTime  
  updateAt    DataTime  @updateAt
  
}







  group_id  int     
  createdAt DateTime @default(now(
  updateAt DataTime @updateAt
  
  ))

}


